@font-face {
    font-family: 'rougeScript'; /* Nom que vous allez utiliser */
    src: url('RougeScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'merry'; /* Nom que vous allez utiliser */
    src: url('Merriweather_24pt_SemiCondensed-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.melPaula, .mel, .paula{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.imageNous{
flex: 0 0 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
.imageNous img {    
    width: 80%;
    height:auto;
    object-fit: cover; 
    border-radius: 5%;
    border: 3px solid  var(--Rose);
}
hr {
    border: none;
    height: 3px;
    background-color: var(--Rose);
    width: 100%;
}
.vision{
    background-color:var(--Rose);
    padding: 30px;
    border: 1px solid  var(--Rose);
    border-radius: 10px;
    text-align: justify;
}
.visionText{
    margin: 40px auto;
    width: 70vw;
    font-family: 'rougeScript';
    font-size: 1.8em;
    text-align: center;
}
.visionMel{
    border: 2px solid  var(--Rose);
    border-radius: 10px; 
    padding: 35px;
    text-align: justify;
}
h3{
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
    font-family: 'merry';

}
@media  (min-width: 480px) and (max-width: 800px) {
    .melPaula, .paula {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    }
    .imageNous img {    
    width: 60%;
    height:auto;
    }
    .mel{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 40px;
    }
    .visionText{
    margin: 40px auto;
    width: 80vw;
    }
}
@media (max-width: 480px){
    .melPaula, .paula {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    }
    .imageNous img {    
    width: 60%;
    height:auto;
    }
    .mel{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
    }
    .visionText{
    margin: 20px auto;
    width: 80vw;
    }
}