html{
    background-color: rgb(236,231,224);
    font-size: 20px;
}
body{
  min-width: 600px;
  max-width: 1500px;
  margin: 0 auto; /* centers horizontally */
  padding:40px;
}

.top{
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: 1px solid; 
    padding-bottom: 20px;
}
.top .left{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 3px 20px;
    border: 2px solid;
    border-radius: 10px;
}

.presentation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.presentation img{
    height:auto;
    width : 100%;
}